<!DOCTYPE html>
<html>

<head>
  <title>Uno</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="description" content="Demo project">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Load required Bootstrap and BootstrapVue CSS -->
  <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
  <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.css" />

  <!-- Load polyfills to support older browsers -->
  <script src="//polyfill.io/v3/polyfill.min.js?features=es2015%2CIntersectionObserver" crossorigin="anonymous">
  </script>

  <!-- Load Vue followed by BootstrapVue -->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.js"></script>

  <!-- Load the following for BootstrapVueIcons support -->
  <script src="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue-icons.min.js"></script>

  <!-- Jquery for Bootstrap to work properly -->
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
  </script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
  </script>

  <!-- Scrolling animation for chatbox -->
  <script src="https://cdn.jsdelivr.net/npm/vue-chat-scroll/dist/vue-chat-scroll.min.js"></script>

  <!-- lo dash -->
  <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.15/lodash.min.js"></script>

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Nunito:600&display=swap" rel="stylesheet">
</head>

<body>

  <!-- Modal -->
  <div class="modal fade" id="clientConnexionContainer" data-backdrop="static" tabindex="-1" role="dialog"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalCenterTitle">Connexion</h5>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label class="sr-only" for="inputPseudo">Pseudo</label>
              <input type="text" class="form-control" id="inputPseudo" aria-describedby="emailHelp"
                data-toggle="tooltip" data-placement="bottom" title="Maximum 20 caractères, minimum 3."
                placeholder="Pseudo" v-model:value="pseudo">
            </div>
            <div class="form-group">
              <label class="sr-only" for="inputRoom">Room</label>
              <div class="input-group mb-2">
                <div class="input-group-prepend">
                  <div class="input-group-text">#</div>
                </div>
                <input type="text" class="form-control" id="inputRoom" placeholder="Room" data-toggle="tooltip"
                  data-placement="bottom" title="Suite de 6 caractères [ 0-9 | a-Z ]." v-model:value="room">
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <small class="form-text text-muted">Lorsque vous créez une room le nom est automatiquement généré.</small>
          <button type="button" class="btn btn btn-outline-success" @click="create">Créer une room</button>
          <button type="button" class="btn btn btn-success" @click="join">Rejoindre une room</button>
        </div>
      </div>
    </div>
  </div>

  <nav>
    <div class="nav nav-tabs mx-2 mt-2" id="nav-tab" role="tablist">
      <a class="nav-item nav-link active" data-toggle="tab" href="#nav-jeu" role="tab" aria-controls="nav-jeu"
        aria-selected="true">Jeu</a>
      <a ref="buttonChatCollapse" id="buttonChatCollapse" class="nav-item nav-link" data-toggle="tab" href="#nav-chat"
        role="tab" aria-controls="nav-chat" aria-selected="false">Chat <span class="badge badge-primary badge-pill"
          v-if="unreadMessage >= 1">{{unreadMessage}} message<span v-if="unreadMessage > 1">s</span></span></a>
      <a class="nav-item nav-link" data-toggle="tab" href="#nav-options" role="tab" aria-controls="nav-options"
        aria-selected="false">Options</a>
    </div>
  </nav>
  <div class="tab-content" id="nav-tabContent">


    <div class="tab-pane fade show active" id="nav-jeu" role="tabpanel" aria-labelledby="nav-home-jeu">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm">
            <div id="handList" v-if="showCards" class="fixed-bottom">
              <div class="d-flex justify-content-center align-items-center w-75 mx-auto mb-2">
                <div class="card-deck">
                  <div class="card m-0 border-0" v-for="(card, index) in orderedCardList" data-toggle="tooltip"
                    :title="card.fullName" @click="test(index)">
                    <img :src="card.imgSrc" class="card-img-top" :alt="card.fullName">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="tab-pane fade" id="nav-chat" role="tabpanel" aria-labelledby="nav-chat-tab">
      <div class="d-flex align-items-center justify-content-center flex-column h-100 mt-3">
        <div id="chat" class="border rounded p-3 m-auto w-75">
          <div class="border rounded text-wrap" style="height: 50vh; width: 100%; overflow-x: hidden; overflow-y: auto;"
            v-chat-scroll="{always: false, smooth: true}">
            <ul class="list-group">
              <li class="list-group-item border-top-0 border-left-0 border-right-0 rounded-0 p-1 text-wrap"
                v-for="data in history" :class="data.style"><span
                  class="badge badge-secondary float-right badge-pill">{{data.date}}</span><span
                  v-if="data.sender != ''">
                    <div class="badge badge-primary p-2 m-0" style="font-size: 1em;">
                      {{data.sender}}
                    </div></span>
                {{data.message}}
              </li>
            </ul>
          </div>
          <hr>
          <form @submit.prevent="sendMessage">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Votre message" aria-label="Recipient's username"
                aria-describedby="button-addon2" v-model:value="inputMessage">
              <div class="input-group-append">
                <button class="btn btn-primary" type="submit" id="button-addon2">Envoyer</button>
              </div>
            </div>
          </form>
        </div>
      </div>

    </div>
    <div class="tab-pane fade" id="nav-options" role="tabpanel" aria-labelledby="nav-options-tab">
      <ul class="nav justify-content-end">
        <li class="nav-item p-1">
          <div class="btn-group">
            <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">
              Kick un joueur
            </button>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">Joueur 1</a>
              <a class="dropdown-item" href="#">Joueur 2</a>
              <a class="dropdown-item" href="#">Joueur 3</a>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <style>
    body {
      font-family: 'Nunito', sans-serif !important;
    }
  </style>

  <script src="/socket.io/socket.io.js"></script>
  <script type="text/javascript">
    var socket = null;
    var chatBox = new Vue({
      el: '#chat',
      data: {
        history: [],
        inputMessage: ""
      },
      methods: {
        addMessage(sender, message, style) {
          let currentDate = new Date();
          let date = ("0" + currentDate.getHours()).slice(-2) + ":" + ("0" + currentDate.getMinutes()).slice(-2) +
            ":" + ("0" + currentDate.getSeconds()).slice(-2);
          this.history.push({
            "sender": sender,
            "message": message,
            "style": style,
            "date": date
          });
          buttonChatCollapse.addUnreadMessage();
        },
        sendMessage: function () {
          socket.emit('send-message', {
            "message": this.inputMessage
          });
          this.inputMessage = "";
        }
      }
    })

    var buttonChatCollapse = new Vue({
      el: "#buttonChatCollapse",
      data: {
        unreadMessage: 0
      },
      methods: {
        addUnreadMessage() {
          if (_.includes(this.$refs.buttonChatCollapse.className, 'active')) {
            this.unreadMessage = 0;
          } else {
            this.unreadMessage += 1;
          }
        },
        resetUnread() {
          this.unreadMessage = 0;
        }
      }
    })


    var clientConnexion = new Vue({
      el: '#clientConnexionContainer',
      data: {
        pseudo: "",
        room: ""
      },
      methods: {
        show() {
          $("#clientConnexionContainer").modal("show");
        },
        hide() {
          $("#clientConnexionContainer").modal("hide");
        },
        join() {
          socket.emit('join-room', {
            "pseudo": this.pseudo,
            "room": this.room
          });
        },
        create() {
          socket.emit('create-room', {
            "pseudo": this.pseudo
          });
        }
      },
      created: function () {
        socket = io({
          'reconnection': true,
          'reconnectionDelay': 1000,
          'reconnectionDelayMax': 5000,
          'reconnectionAttempts': 50
        });
      },
      mounted: function () {
        socket.on('show-connexion', function () {
          clientConnexion.show();
        })
        socket.on('hide-connexion', function () {
          clientConnexion.hide();
        })
      }
    });

    var handRenderCards = new Vue({
      el: '#handList',
      data: {
        cardList: [], //zeroRed, oneRed, twoRed, threeRed, fourRed, oneRed
        showCards: true
      },
      methods: {
        test(element) {
          console.log(element.uniqID);
        },
        setupCards(list) {
          this.cardList = list;
        }
      },
      computed: {
        setUniqID: function () {
          return _.forEach(this.cardList, function (element, position) {
            element.uniqID = position;
          });
        },
        orderedCardList: function () {
          return _.orderBy(this.setUniqID, 'fullName')
        }
      }
    });

    var toastNotification = new Vue({
      methods: {
        newToast(data) {
          desc = data.desc;
          delete data.desc;
          this.$bvToast.toast(desc, data);
        }
      }
    });

    $(function () {
      $('[data-toggle="tooltip"]').tooltip()
    });

    $('.btn-outline-dark').popover({
      trigger: 'focus'
    });

    socket.on('show-toast', function (data) {
      toastNotification.newToast(data);
    });

    socket.on('show-chat-message', function (data) {
      chatBox.addMessage(data.sender, data.message, data.style);
    });

    socket.on("log-test", function (data) {
      console.log(data);
    });

    socket.on("card-setup", function (cardList) {
      handRenderCards.cardList = cardList;
    });

    $('#buttonChatCollapse').on('shown.bs.tab', function () {
      buttonChatCollapse.resetUnread();
    })
  </script>
</body>

</html>