<!DOCTYPE html>
<html>

<head>
  <title>Uno</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="description" content="Demo project">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Load required Bootstrap and BootstrapVue CSS -->
  <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
  <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.css" />

  <!-- Load polyfills to support older browsers -->
  <script src="//polyfill.io/v3/polyfill.min.js?features=es2015%2CIntersectionObserver" crossorigin="anonymous">
  </script>

  <!-- Load Vue followed by BootstrapVue -->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.js"></script>

  <!-- Load the following for BootstrapVueIcons support -->
  <script src="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue-icons.min.js"></script>

  <!-- Jquery for Bootstrap to work properly -->
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
  </script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
  </script>

  <!-- Scrolling animation for chatbox -->
  <script src="https://cdn.jsdelivr.net/npm/vue-chat-scroll/dist/vue-chat-scroll.min.js"></script>

  <!-- lo dash -->
  <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.15/lodash.min.js"></script>

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Nunito:600&display=swap" rel="stylesheet">
</head>

<body>

  <!-- Modal -->
  <div class="modal fade" id="clientConnexionContainer" data-backdrop="static" tabindex="-1" role="dialog"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalCenterTitle">Connexion</h5>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label class="sr-only" for="inputPseudo">Pseudo</label>
              <input type="text" class="form-control" :class="pseudoClass" id="inputPseudo" aria-describedby="emailHelp"
                data-toggle="tooltip" data-placement="bottom" title="Maximum 20 caractères, minimum 3."
                placeholder="Pseudo" v-model:value="pseudo">
            </div>
            <div class="form-group">
              <label class="sr-only" for="inputRoom">Room</label>
              <div class="input-group mb-2">
                <div class="input-group-prepend">
                  <div class="input-group-text">#</div>
                </div>
                <input type="text" class="form-control" :class="roomClass" id="inputRoom" placeholder="Room" data-toggle="tooltip"
                  data-placement="bottom" title="Suite de 6 caractères [ 0-9 | a-Z ]." v-model:value="room">
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <small class="form-text text-muted">Lorsque vous créez une room le nom est automatiquement généré.</small>
          <button type="button" class="btn btn btn-outline-success" @click="create">Créer une room</button>
          <button type="button" class="btn btn btn-success" @click="join">Rejoindre une room</button>
        </div>
      </div>
    </div>
  </div>


  <!-- Navbar -->
  <nav id="navbar">
    <div class="nav nav-tabs mx-2 mt-2" id="nav-tab" role="tablist">
      <a class="nav-item nav-link active" data-toggle="tab" href="#nav-jeu" role="tab" aria-controls="nav-jeu"
        aria-selected="true">Jeu</a>
      <a ref="buttonChatCollapse" id="buttonChatCollapse" class="nav-item nav-link" data-toggle="tab" href="#nav-chat"
        role="tab" aria-controls="nav-chat" aria-selected="false">Chat <span class="badge badge-primary badge-pill"
          v-if="unreadMessage >= 1">{{unreadMessage}} message<span v-if="unreadMessage > 1">s</span></span></a>
      <a class="nav-item nav-link" data-toggle="tab" href="#nav-options" role="tab" aria-controls="nav-options"
        aria-selected="false" v-if="show.OptionMenu">Options</a>
      <ul class="nav navbar-nav flex-row ml-auto">
        <li class="justify-content-center align-self-center mr-2"><span class="text-muted">#{{ room }}</span></li>
        <li class="justify-content-center align-self-center mr-2">
          <!--<button @mouseover="mouseOver" @click="copyToClipboard" data-toggle="tooltip" data-placement="bottom" title="Copier le lien"
            type="button" class="btn btn btn-light" id="btnCopyRoomToClipBoard">
            #{{ room }} 
          </button>-->
          
          <div class="input-group">
            <input class="border rounded-left pl-1" type="text" id="roomLinkToClipboard" v-model:value="roomLink"> <!-- génère le lien pour le copier -->
            <div class="input-group-append">
              <button class="btn btn-secondary px-2 p-1" @click="copyToClipboard" type="button" data-toggle="tooltip" data-placement="bottom" title="Copier le lien">
                <svg class="bi bi-link-45deg" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path d="M4.715 6.542L3.343 7.914a3 3 0 104.243 4.243l1.828-1.829A3 3 0 008.586 5.5L8 6.086a1.001 1.001 0 00-.154.199 2 2 0 01.861 3.337L6.88 11.45a2 2 0 11-2.83-2.83l.793-.792a4.018 4.018 0 01-.128-1.287z"/>
                  <path d="M5.712 6.96l.167-.167a1.99 1.99 0 01.896-.518 1.99 1.99 0 01.518-.896l.167-.167A3.004 3.004 0 006 5.499c-.22.46-.316.963-.288 1.46z"/>
                  <path d="M6.586 4.672A3 3 0 007.414 9.5l.775-.776a2 2 0 01-.896-3.346L9.12 3.55a2 2 0 012.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 00-4.243-4.243L6.586 4.672z"/>
                  <path d="M10 9.5a2.99 2.99 0 00.288-1.46l-.167.167a1.99 1.99 0 01-.896.518 1.99 1.99 0 01-.518.896l-.167.167A3.004 3.004 0 0010 9.501z"/>
                </svg>
              </button>
            </div>
          </div>
        </li>
        <li class="justify-content-center align-self-center" v-if="show.StartButton"><button type="button" class="btn btn btn-success">
            <div class="spinner-grow spinner-grow-sm align-middle mr-1" role="status">
              <span class="sr-only">En attente du lancement de la partie</span>
            </div>Lancer la partie
          </button></li>
      </ul>
    </div>
  </nav>
  <div class="tab-content" id="nav-tabContent">


    <div class="tab-pane fade show active" id="nav-jeu" role="tabpanel" aria-labelledby="nav-home-jeu">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm">
            <div id="handList" v-if="showCards" class="fixed-bottom">
              <div class="d-flex justify-content-center align-items-center w-75 mx-auto mb-2">
                <div class="card-deck">
                  <div class="card m-0 border-0" v-for="(card, index) in orderedCardList" data-toggle="tooltip"
                    :title="card.fullName" @click="test(index)">
                    <img :src="card.imgSrc" class="card-img-top" :alt="card.fullName">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="tab-pane fade" id="nav-chat" role="tabpanel" aria-labelledby="nav-chat-tab">
      <div class="container mt-3">
        <div id="chat" class="border rounded p-3 m-auto">
          <div class="border rounded text-wrap" style="height: 50vh; width: 100%; overflow-x: hidden; overflow-y: auto;"
            v-chat-scroll="{always: false, smooth: true}">
            <ul class="list-group">
              <li class="list-group-item border-top-0 border-left-0 border-right-0 rounded-0 p-1 text-wrap"
                v-for="data in history" :class="data.style"><span
                  class="badge badge-secondary float-right badge-pill">{{data.date}}</span><span
                  v-if="data.sender != ''">
                  <div class="badge badge-dark p-1 m-0" style="font-size: 1em;">
                    {{data.sender}}
                  </div>
                </span>
                {{data.message}}
              </li>
            </ul>
          </div>
          <hr>
          <form @submit.prevent="sendMessage">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Votre message" aria-label="Recipient's username"
                aria-describedby="button-addon2" v-model:value="inputMessage">

                

              <div class="input-group-append">
                <button class="btn btn-primary rounded-right" type="submit" id="button-addon2">Envoyer</button>
              </div>


              <span class="input-group-text border-0" style="background: transparent;">{{inputLength}} / 300</span>
            </div>
          </form>
        </div>
      </div>

    </div>
    <div class="tab-pane fade" id="nav-options" role="tabpanel" aria-labelledby="nav-options-tab">
      <div class="container border rounded mt-3">
        <form class="m-3">
          <div class="form-group row">
            <div class="col-sm-2 h5 text-center">Paramètres de la partie</div>
            <div class="col-sm-10">
              <div class="custom-control custom-switch">
                <input class="custom-control-input" type="checkbox" id="activateCheat">
                <label class="custom-control-label" for="activateCheat">
                  <div class="badge badge-warning p-1" style="font-size: 1em;">Non disponible</div> Autoriser la triche
                  <p class="text-muted">
                    Autorise les joueurs à placer la carte qu'ils veulent pendant leur tour, si un joueur est suspecté
                    de triche vous pouvez faire un vote pour qu'il pioche une carte.
                  </p>
                </label>
              </div>
              <div class="custom-control custom-switch">
                <input class="custom-control-input" type="checkbox" id="vocalMode">
                <label class="custom-control-label" for="vocalMode">
                  <div class="badge badge-warning p-1" style="font-size: 1em;">Non disponible</div> Mode vocal
                  <p class="text-muted">
                    Lorsque le joueur est sur le point d'avoir qu'une seule carte restante il doit dire UNO, s'il oublie
                    ou qu'un contre uno a été fait un vote pourra être effectué contre lui pour qu'il tire une carte.
                  </p>
                </label>
              </div>
            </div>
          </div>
          <hr>
          <div class="form-group row m-2">
            <div class="col-sm-2 h5 text-center">Gérer les joueurs</div>
            <div class="col-sm-10">
              <div class="accordion" id="playerManagerList">

                <div class="text-center" v-if="playerListWithoutAdmin.length == 0">
                  <p class="text-muted">
                    Oh il semblerait que vous soyez tout seul dans la partie ! 😬
                  </p>
                </div>

                <div class="card" v-for="(joueur, index) in playerListWithoutAdmin">
                  <div class="card-header btn btn-link" :id="'heading'+index" type="button" data-toggle="collapse"
                    :data-target="'#collapse'+index" aria-expanded="false" :aria-controls="'collapse'+index">
                    Gérer {{ joueur }}
                  </div>
                  <!-- l'attribut class est relatif, si index == 0 alors on expand la card sinon non -->
                  <div :id="'collapse'+index" :class="'collapse ' + [index == 0 ? 'show' : '']"
                    :aria-labelledby="'heading'+index" data-parent="#playerManagerList">
                    <div class="card-body">
                      <button @click="kick(joueur)" type="button" class="btn btn-danger mx-2">Kick</button>
                      <button v-if="_.includes(mutedList, joueur)" @click="mute(joueur)" type="button" class="btn btn-outline-dark mx-2">Démute du chat</button>
                      <button v-else @click="mute(joueur)" type="button" class="btn btn-dark mx-2">Mute du chat</button>
                    </div>
                  </div>

                </div>

              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
    </li>
    </ul>
  </div>
  </div>

  <style>
    body {
      font-family: 'Nunito', sans-serif !important;
    }

    * {
      height: auto;
    }

    ::-webkit-scrollbar {
      width: 9px;
      height: 9px;
    }

    ::-webkit-scrollbar-button {
      width: 0px;
      height: 0px;
    }

    ::-webkit-scrollbar-thumb {
      background: #e1e1e1;
      border: 0px none #ffffff;
      border-radius: 50px;
    }

    ::-webkit-scrollbar-thumb:hover {
      background: #ffffff;
    }

    ::-webkit-scrollbar-thumb:active {
      background: #bcbcbc;
    }

    ::-webkit-scrollbar-track {
      background: #939393;
      border: 0px none #ffffff;
      border-radius: 50px;
    }

    ::-webkit-scrollbar-track:hover {
      background: #666666;
    }

    ::-webkit-scrollbar-track:active {
      background: #333333;
    }

    ::-webkit-scrollbar-corner {
      background: transparent;
    }
  </style>

  <script src="/socket.io/socket.io.js"></script>
  <script type="text/javascript">
    class Card {
      constructor(number, family, fullName) {
        this.number = number;
        this.family = family;
        this.fullName = fullName;
        this.imgSrc = "/images/cards/" + number + family + ".svg";
      }
    }


    //Initialisation des cartes de la partie
    const zeroRed = new Card("0", "red", "0 Rouge");
    const oneRed = new Card("1", "red", "1 Rouge");
    const twoRed = new Card("2", "red", "2 Rouge");
    const threeRed = new Card("3", "red", "3 Rouge");
    const fourRed = new Card("4", "red", "4 Rouge");

    var socket = null;


    var chatBox = new Vue({
      el: '#chat',
      data: {
        history: [],
        inputMessage: "",
        inputLength: 0
      },
      methods: {
        addMessage: function (sender, message, style) {
          let currentDate = new Date();
          let date = ("0" + currentDate.getHours()).slice(-2) + ":" + ("0" + currentDate.getMinutes()).slice(-2) +
            ":" + ("0" + currentDate.getSeconds()).slice(-2);
          this.history.push({
            "sender": sender,
            "message": message,
            "style": style,
            "date": date
          });
          navbar.addUnreadMessage();
        },
        sendMessage: function () {
          socket.emit('send-message', {
            "message": this.inputMessage
          });
          this.inputMessage = "";
        },
        resetHistory: function () {
          this.history = [];
        }
      },
      watch: {
        inputMessage: function() {
          this.inputLength = this.inputMessage.length;
        }
      }
    });

    var playerManagerList = new Vue({
      /*
      Affiche dans le menu option (reservé à l'admin de la partie)
      la liste des joueurs afin de les gérer et d'exécuter certaines actions comme "Kick" ou "Mute"
      */
      el: '#playerManagerList',
      data: {
        playerList: [],
        mutedList: []
      },
      computed: {
        playerListWithoutAdmin: function () {
          return _.drop(this.playerList); //Retourne une liste sans le premier joueur qui est l'admin de la partie
        }
      },
      methods: {
        kick: function (joueur) {
          socket.emit('kick-player', joueur);
        },
        mute: function (joueur) {
          socket.emit('toggle-mute', joueur);
        },
        refreshMutedList: function (list) {
          this.mutedList = list;
        }
      }
    });

    var navbar = new Vue({
      el: "#navbar",
      data: {
        unreadMessage: 0,
        room: '',
        show: {
          "OptionMenu": false,
          "StartButton": false,
          "roomName": false
        }
      },
      methods: {
        toggleNavElements: function (element, option) {
          this.show[element] = option;
        },
        addUnreadMessage: function () {
          if (_.includes(this.$refs.buttonChatCollapse.className, 'active')) {
            this.unreadMessage = 0;
          } else {
            this.unreadMessage += 1;
          }
        },
        resetUnread: function () {
          this.unreadMessage = 0;
        },
        updateRoom: function (room) {
          this.room = room;
          this.show["roomName"] = true;
        },
        copyToClipboard: function () {
          // this.$refs.roomLinkToClipboard.select(); on selectionne l'intérieur du ref="roomLinkToClipboard"
          $('#roomLinkToClipboard').select();
          document.execCommand('copy');
        },
        mouseOver: function(){
            this.show.linkVisibility = !this.show.linkVisibility;
        }
      }, computed: {
        roomLink: function () {
          return window.origin + "/room/" + this.room;
        }
      }
    });

    var clientConnexion = new Vue({
      el: '#clientConnexionContainer',
      data: {
        pseudo: "",
        pseudoClass: "",
        room: "",
        roomClass: ""
      },
      methods: {
        show: function () {
          $("#clientConnexionContainer").modal("show");
        },
        hide: function () {
          $("#clientConnexionContainer").modal("hide");
        },
        join: function () {
          socket.emit('join-room', {
            "pseudo": this.pseudo,
            "room": this.room
          });
        },
        create: function () {
          socket.emit('create-room', {
            "pseudo": this.pseudo
          });
        },
        changeRoomInput: function (room) {
          this.room = room;
        }
      },
      created: function () {
        socket = io({
          'reconnection': false,
          'reconnectionDelay': 1000,
          'reconnectionDelayMax': 5000,
          'reconnectionAttempts': 50
        });
      },
      mounted: function () {
        socket.on('show-connexion', function () {
          clientConnexion.show();
        })
        socket.on('hide-connexion', function () {
          clientConnexion.hide();
        })
      },
      watch: {
        pseudo: function() { //vérifie si l'input pseudo est valide du côté client
          if (this.pseudo.length >= 3 && this.pseudo.length <= 20) {
            this.pseudoClass = "is-valid";
          } else {
            this.pseudoClass = "is-invalid";
          }
        },
        room: function() {
          if (this.room.length == 6) {
            this.roomClass = "is-valid";
          } else {
            this.roomClass = "is-invalid";
          }
        }
      }
    });

    var handRenderCards = new Vue({
      el: '#handList',
      data: {
        cardList: [zeroRed, zeroRed, zeroRed, zeroRed,
        zeroRed], //zeroRed, oneRed, twoRed, threeRed, fourRed, oneRed
        showCards: true
      },
      methods: {
        test: function (element) {
          console.log(element.fullName);
        },
        setupCards: function (list) {
          this.cardList = list;
        }
      },
      computed: {
        orderedCardList: function () {
          return _.orderBy(this.setUniqID, 'fullName')
        }
      }
    });

    var toastNotification = new Vue({
      methods: {
        newToast: function (data) {
          desc = data.desc;
          delete data.desc;
          this.$bvToast.toast(desc, data);
        }
      }
    });

    $('.btn-outline-dark').popover({
      trigger: 'focus'
    });

    socket.on('show-toast', function (data) {
      toastNotification.newToast(data);
    });

    socket.on('show-chat-message', function (data) {
      chatBox.addMessage(data.sender, data.message, data.style);
    });

    socket.on("log-test", function (data) {
      console.log(data);
    });

    socket.on("card-setup", function (cardList) {
      handRenderCards.cardList = cardList;
    });

    socket.on('toggle-nav-el', function (data) {
      navbar.toggleNavElements(data.element, data.option);
    });

    socket.on('refresh-playerlist', function (data) {
      //Actualise sur plusieurs fonctions de la page les joueurs présents dans la partie
      playerManagerList.playerList = data.playerList;
    });

    socket.on('update-room', function (data) {
      //Met à jour le numéro de la salle dans la nav
      navbar.updateRoom(data.room);
      $('[data-toggle="tooltip"]').tooltip();

      //Reset le chat car room changé
      navbar.resetUnread();
      chatBox.resetHistory();
    });

    socket.on('refresh-mutedList', function (data) {
      //Actualise la liste des personnes mutes pour l'admin
      playerManagerList.refreshMutedList(data);
    })

    $('#buttonChatCollapse').on('shown.bs.tab', function () {
      navbar.resetUnread();
    });

    windowPath = window.location.pathname.split('/');
    if (windowPath[1] == "room" && windowPath[2].length == 6) {
      clientConnexion.changeRoomInput(windowPath[2]);
    }

    $(function () {
      $('[data-toggle="tooltip"]').tooltip();
    });

  </script>
</body>

</html>